
body{
    background-color: #ffffff;
    color: white;
}

#contenedor {
    width: 900px;
    height: 1380px;
    background-color: #dee0b7;
}

#encabezado{
    width: 50%;
    height: 100px;
    background-color: #1d9821;
    padding-top: 1px;
    text-align: center;
    font-size: 20px;
}

#menu{
    width: 50%;
    background-color: #1d9821;
    margin-top: -11px;
}

ul {
    text-align: center;
    padding: 12px;
}

li {
    display: inline;
    padding: 10px 5px;
    margin: 1em;
}

li a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
}

.texto{
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 5px 25px;
    color: black;
}

#contenido {
    width: 50%;
    background-color: #ffffff;
    margin: 0.5em;
    display: inline-block;
    text-align: center;
    border: 2px solid #1d9821;
    margin-top: -11px;
}

.encabezado-articulo{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.img {
    display: inline;
    margin-inline: 6px;
    border: 2px solid #1d9821;
}

.small{
    margin-inline: 12px;
}

#pie{
    width: 50%;
    height: 65px;
    background-color: #c30606;
    margin-top: -25px;
    text-align: center;
}

#pie h4{
    padding-top: 20px;
    font-size: 15px;
}