/* Selector universal*/

*{
    padding: 0;
    margin: 0;
}

/* Selector de etiqueta o tipo*/
body{
    background-color: #e6edd9;
    color: white;
}

/* Selector de id*/
#contenedor {
    width: 900px;
    height: 1380px;
    background-color: #dee0b7;
}

#encabezado{
    width: 70%;
    background-color: #6c844e;
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}

#menu{
    height: 4%;
    background-color: #7e815b;
    margin: 1em;
    border-radius: 5px;
}

ul {
    text-align: center;
    padding: 10px;
}

li {
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

li a:hover{
    color: crimson;
    text-decoration: none;
    list-style: none;
}

.texto{
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: black;
}

#contenido {
    height: 88%;
    width: 60%;
    background-color: #b5bf9a;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

.img {
    width: 70%;
    height: 70%;
    border-radius: 30px;
    justify-items: center;  
}

.encabezado-articulo{
    padding: 10px;
    text-align: center;
    background-color: rgb(83,152,87);
    color: rgb(255,255,255);
    margin: 1em 2em;
    border-radius: 5px;
}

#fueraSeccion{
    height: 88%;
    width: 35%;
    background-color: #b5bf9a;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

.encabezado-aside{
    padding: 10px 10px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(89,161,81);
    color: white;
    margin: 1em 2em;
}

.menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 0 2px;
    list-style: square;
    color: #000;
}

.lista-aside{
    padding: 20px;
}

.lista-aside li {
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 0 2px;
    color: #000;
}

#pie{
    height: 10%;
    background-color: #b5bf9a;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
}

#pie h4{
    padding: 10px;
    font-size: 30px;
    background-color: #7e815b;
}

